$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// // brand colours
$eh-red:           #d21c3a;
$eh-red-dark:      #c1102c;
$eh-red-darker:    #ab0e26;
$eh-blue:          #0f4471;
$eh-blue-darker:   #083358;
$eh-beige:         #e7e2d7;
$eh-beige-light:   #eeeae7;
$eh-beige-lighter: #f6f6f6;
$ac-orange:        #e45e53;