<div class="vpad--xxxl bg--img bg--light">
  <div class="container">
    <div class="row row--xxl-6-6 row--valign-center">
      <div class="col width width--lg">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/img.jpg');">
          <a href="{{site.baseurl}}/competition" class="bg-img__link"></a>
        </div>
      </div>
      <div class="col width width--lg">
        <h2 class="title title--lg title--color">Win a SE Voucher & EH Membership</h2>
        <div class="">
          <p class="text--xl text--normal vpad--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <div class="space--sm"></div>
          <a id="track-btn-campaign" href="{{site.baseurl}}/competition" class="btn btn--red">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>