<div class="vpad--xxxl bg--img bg--light">
  <div class="container">
    <div class="row row--xxl-6-6 row--valign-center">
      <div class="col width width--lg">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/promo-competition{% if page.id == "food" %}-ac{% endif %}.jpg');">
          <a href="{{site.baseurl}}/competition" class="bg-img__link"></a>
        </div>
      </div>
      <div class="col width width--lg">
        <h2 class="title title--sm title--color">Win English Heritage membership, £100 Secret Escapes voucher and Abel & Cole organic boxes</h2>
        <div class="">
          <p class="text--xl text--normal vpad--xxs">Head for a great English escape with five prize packages to be won!</p>
          <div class="space--sm"></div>
          <a id="track-btn-campaign" href="{{site.baseurl}}/competition" class="btn btn--red">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

