<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/promo-campaign-bg.jpg');">
  <div class="container">
    <div class="width--xl">
      <h2 class="title title--lg">Exclusive 20% off annual membership for Secret Escapes members</h2>
      <div class="space--md">
        <p class="sign-up-code">Use code <strong class="text--bolder">SECRET20</strong> to unlock England’s history</p>
        <div class="space--md"></div>
        <a href="http://www.english-heritage.org.uk/join/" class="btn btn--inline-spacing-left btn--red" id="track-eh-join-promo-{{page.id}}">Join Now</a><a href="{{site.baseurl}}/membership" class="btn btn--inline-spacing-left btn--outline btn--outline-grey-transparent">Find Out More</a>
      </div>
    </div>
  </div>
</div>