.btn {
  position: relative;
  display: inline-block;
  padding: $s2 $s5;
  color: $white;
  font-weight: 700;
  font-size: $s-1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s1 $s4; font-size: $s-2; }
  &--lg { padding: $s3 $s8; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--red { background-color: $eh-red;
    &:hover { background-color: $eh-red-darker; }
  }
  &--beige { background-color: #cac0aa;
    &:hover { background-color: #bfb7a6; }
  }
  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-red {
    &:before { border-color: $eh-red; }
    &:hover {
      color: $white;
      background-color: $eh-red;
      &:before { border-color: $eh-red; }
    }
  }
  &--outline-red-transparent {
    background-color: rgba($eh-red, .66);
    &:before { border-color: $eh-red; }
    &:hover {
      color: $white;
      background-color: $eh-red;
      &:before { border-color: $eh-red; }
    }
  }
  &--outline-white {
    &:before { border-color: rgba($white,.5); }
    &:hover {
      background-color: rgba($white,.33);
    }
  }
}