---
layout: content
id: food
nav: true
nav-order: 3
title: Abel & Cole
intro: With 30 years’ expertise, Abel & Cole deliver brilliant, seasonal organic food and drink from independent producers we know and love, to homes up and down the country.
bg-color: "#1a1f14"
extra-logo: true

features:

  - id: albury-vineyard
    title: Albury Vineyard
    description: Albury Organic Vineyard, headed up by Nick Wenman and his daughter Lucy, is situated on the southern slopes of the North Downs near Guildford in an area of outstanding natural beauty. Biodynamic techniques are used to enhance the quality of fruit, which gives the wines a special flavour. The vines are the traditional Champagne varietals of Chardonnay, Pinot Noir and Pinot Meunier, as well as some Seyval and Pinot Gris.
    link: https://www.abelandcole.co.uk/producer/61/

  - id: broadward-hall-farm
    title: Broadward Hall Farm
    description: Father-son team Colin and Ben Andrews grow all sorts of veg for us throughout the year, and they’re real maestros when it comes to leafy greens. In fact, the kings of kale, is what we call them. Colin’s grandad first worked the land on Broadward Farm, in Herefordshire, back in the 1930s, so you could say growing brilliant veg runs in the family. Colin says, ‘You can't beat a good lettuce.’ Well, we think Colin’s kale is pretty darn good too.
    link: https://www.abelandcole.co.uk/producer/208/

  - id: wood-green-farm
    title: Wood Green Farm
    description: Chris Labdon has been tending his organic chickens to the highest standards of welfare on his Wood Green Farm in Devon for years and years. Chris’ chickens take months, not weeks, to grow. Their feet are made for walking (and that’s just what they’ll do). These chooks have plenty of time and space to explore the world, scratching and clucking about from first thing in the morning till last thing at night. All this time spent growing means they develop their muscles properly, so from breast to the thighs and wings...this is chicken that tastes like chicken. Some of the things Compassion in World Farming look for when bestowing a Good Chicken Award, apart from slow-growing birds, are lower stock density, and also “enrichment provision”. This means access to natural light, straw bales, perches, pecking objects and shelter outdoors. All of which Chris’ chickens enjoy in abundance. It's no surprise then that Chris received a Good Chicken Award from CWIF recently.
    link: https://www.abelandcole.co.uk/producer/202/
---

<div class="container">

  <div class="text--center vpad--xxxl text--white">
    <div class="width width--xl">
      <h1 class="title title--xxxl">England’s <br>Foodie Heritage</h1>
      <div class="space--sm"></div>
      <h2 class="sub-title">Unearth the best organic food & drink with Abel & Cole</h2>
    </div>
  </div>

  <div class="boxpad--xl width width--xl bg--lighter text--center shadow text--xxl">
    <p>{{page.intro}}</p>
    <p>Even better, it all comes in minimal, recyclable, returnable packaging, delivered by eco yellow vans that spend less time on the roads.</p>
    <p>Discover English Heritage landmarks, then come home to discover real food.</p>
    <div class="width width--md space--lg">
      <p class="ac-promo">Enjoy 50% off your first and fourth Abel & Cole boxes, plus four free foodie surprises.</p>
      <p class="sign-up-code">Enter code <strong class="text--bolder text--a-c">HERITAGE</strong> to claim</p>
      <div class="space--md"></div>
      <a href="https://www.abelandcole.co.uk/promos/promo_aug_heritage?utm_source=partnership&utm_medium=referral&utm_campaign=secretescapes&utm_content=hub" class="btn btn--lg btn--a-c" id="track-ac-promo">Claim Now</a>
    </div>
  </div>

  <div class="space--xxxl"></div>

  <div class="text--center text--white">
    <h2 class="title title--lg">Meet the producers</h2>
    <div class="space--xxl"></div>
  </div>

  {% for feature in page.features %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{feature.id}}.jpg');">
          <a href="{{feature.link}}" class="bg-img__link" id="track-ac-{{feature.id}}-image"></a>
        </div>
      </div>
      <div class="bob__text text--white">
        <h3 class="title title--sm">{{feature.title}}</h3>
        <p class="text--normal">{{feature.description}}</p>
        <div class="space--sm"></div>
        <a href="{{feature.link}}" class="btn btn--sm btn--outline btn--outline-ac" id="track-ac-{{feature.id}}-btn">Find out more</a>
      </div>
    </div>
  {% endfor %}

  <div class="space--xxxl"></div>

</div>

{% include page/promo-competition.html %}