<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="bg--lighter">

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">

      <div class="vpad--xl bg--white">
        <div class="container">
          <div class="width width--xl text--center">
            <div class="text--xxl">
              <p class="title title--sm">Check out upcoming English Heritage events</p>
              <p>English Heritage have two exciting events coming up – whether you want to become an archaeology detective or build and fly your own kite over centuries-old sites, click below to find out about these family adventures.</p>
              <div class="space--md"></div>
              <a href="http://www.english-heritage.org.uk/visit/whats-on/hands-on-history-archaeology-21-07-2018/" class="btn btn--inline-spacing-left btn--outline btn--outline-red" id="track-event-archaeology">Archaeology Event</a><a href="http://www.english-heritage.org.uk/visit/whats-on/lets-go-fly-a-kite-25-08-2018/" class="btn btn--inline-spacing-left btn--outline btn--outline-red" id="track-event-kite">Kite Event</a>
            </div>
          </div>
        </div>
      </div>

      <div id="intro" class="vpad--xxl bg--light">
        <div class="container">
          <div class="width width--lg text--center">
            <div class="text--xxl">
              <p>{{site.description}}</p>
              <p>We’ve compiled our favourite English Heritage sites by region, each offering a packed events calendar and the chance to unpick the remarkable history of the country. Purchase a ticket on entry, or save with an annual membership – get to the heart of England’s history across more than 400 heritage sites.</p>
              <p>Use the code <strong>SECRET20</strong> to enjoy an exclusive 20% Secret Escapes discount on annual membership.</p>
            </div>
            <div class="space--md"></div>
            <a href="http://www.english-heritage.org.uk/join/" class="btn btn--beige" id="track-eh-join-intro">Become A Member</a>
          </div>
        </div>
      </div>

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxxl bg__fixed">

          <div class="bg__fixed-wrap">
            <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');"></div>
          </div>

          <div class="container">

            <div class="text--center">
              <h2 class="title title--xxxl title--color">{{section.title}}</h2>
              <p class="width width--lg text--lg text--full-black">{{section.description}}</p>
              {% if section.link %}
                <div class="space--sm"></div>
                <a href="{{section.link}}" class="btn btn--outline btn--outline-red btn--sm" id="track-eh-region-{{section.id}}">Find Out More</a>
              {% endif %}
            </div>

            <div class="space--xxxl"></div>

            {% for poi in section.pois %}
              <div class="harvey{% cycle '', ' harvey--swap' %}">
                <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{section.id}}/{{poi.id}}.jpg');">
                  <a href="{{poi.link}}" class="harvey__link" id="track-eh-poi-image-{{poi.id}}"></a>
                </div>
                <div class="harvey__text">
                  <div class="h3 title title--md title--color">{{poi.title}}</div>
                  <p class="text--lg text--full-black">{{poi.description}}</p>
                  <div class="space--md"></div>
                  <a href="{{poi.link}}" class="btn btn--red" id="track-eh-poi-btn-{{poi.id}}">Find Out More</a>
                </div>
              </div>
            {% endfor %}

            <div class="space--xxxl"></div>

            <!-- get offers for this section -->
            {% assign section-offers = site.data.offers | where: 'section', section.id %}
            {% assign section-offers-size = section-offers.size %}

            <!-- put in section if there are offers -->
            {% if section-offers-size != 0 %}

              <h3 class="title title--lg text--center title--color">{{section.title}} Offers</h3>
              <div class="space--lg"></div>

              <!-- are there multiple columns? -->
              {% if section-offers-size == 1 %}
                <!-- one column -->
                {% for offer in section-offers %}
                  {% include offer/offer-sm.html %}
                {% endfor %}
              {% else %}
              <div class="row row--xl-6-6">
                <!-- two columns -->
                {% for offer in section-offers %}
                  <div class="col">
                    {% include offer/offer-sm.html %}
                  </div>
                {% endfor %}
              </div>
              {% endif %}

            {% endif %}

          </div>
        </div>
      {% endfor %}

      {% include page/promo-campaign.html %}

      {% include page/promo-competition.html %}

    </div>

    {% include page/footer.html %}

  </body>

</html>